bn-ui-checks {
    .form-control-static {
        label {
            cursor: pointer;
            font-weight: normal;
            display: inline-block;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
