<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet" />
    <link href="../src/lib/bootstrap-more/dist/bootstrap-more.css" rel="stylesheet" />
</head>
<body style="padding:20px;">

    <div class="panel panel-default panel-example" ng-controller="BnUiInputCtrl" >
        <div class="panel-heading">
            <div class="panel-title">
                bn-ui-input @type=[date, datetime, text, url, email, number]
            </div>
        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <bn-ui-input label="Date" class="col-xs-4" ng-model="model.dt" type="date" format="MM/DD/YYYY"></bn-ui-input>
                    <bn-ui-input label="Date Time" class="col-xs-4" ng-model="model.dt" type="datetime" format="YYYY-MM-DD HH:mm"></bn-ui-input>
                    <bn-ui-input label="Text" class="col-xs-4" ng-model="model.dt" type="text"></bn-ui-input>
                </div>
                <div class="row">
                    <bn-ui-input label="Url" class="col-xs-4" ng-model="model.url" type="url"></bn-ui-input>
                    <bn-ui-input label="Email" class="col-xs-4" ng-model="model.email" type="email"></bn-ui-input>
                    <bn-ui-input label="Number" class="col-xs-4" ng-model="model.number" type="number"></bn-ui-input>
                </div>
            </form>

        </div>
    </div>

    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../src/lib/bootstrap-more/dist/bootstrap-more.js"></script>
    <script src="../node_modules/moment/min/moment-with-locales.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-sanitize/angular-sanitize.js"></script>

    <script src="../node_modules/angular-date-time-input/src/dateTimeInput.js"></script>
    <script src="../node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="../node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>

    <script src="../dist/directives/bn-ui-input.js"></script>
    <script src="bn-ui-input.js"></script>
</body>
</html>
