<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link href="../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../lib/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet"/>
    <link href="https://bndynet.github.io/bootstrap-more/dist/bootstrap-more.css" rel="stylesheet"/>

    <link href="../dist/angular-more.min.css" rel="stylesheet"/>

    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="https://use.fontawesome.com/f6093069cf.js"></script>

    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://bndynet.github.io/bootstrap-more/dist/bootstrap-more.js"></script>
    <script src="../lib/moment/min/moment-with-locales.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular-sanitize/angular-sanitize.js"></script>

    <script src="../lib/angular-date-time-input/src/dateTimeInput.js"></script>
    <script src="../lib/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="../lib/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>

    <script src="../dist/angular-more.min.js"></script>
    <script>
        var app = angular.module("app", ["nb.ui"]);
    </script>
    <style>
        .result {
            border-radius: 4px;
            padding: 5px 10px;
            background-color: green;
            color: white;
        }
        .result span {
            display: inline-block;
            margin-left: 10px;
        }
    </style>
</head>
<body class="page-article">

<div class="col-md-8 sections">
    <code>
        angular.module("app", ["nb.ui"])
    </code>

    <section>
        <h3>Directives</h3>

        <section ng-controller="NbUiLoading">
            <h4>
                @nb-ui-loading
            </h4>
            <div class="panel panel-default panel-example">
                <div class="panel-body">
                   <button class="btn btn-primary" 
                        ng-click="submit()"
                        nb-ui-loading="loading" style="border: 2px #00ff00 solid; padding: 20px; margin: 20px; height: 100px; width: 200px;">
                       <i class="fa fa-save fa-fw"></i>
                        Submit
                    </button>
                   <button class="btn btn-danger" nb-ui-loading="loading" ng-click="submit()">S</button>
                   <a class="btn btn-danger" nb-ui-loading="loading" ng-click="submit()">Submit</a>

                   <div nb-ui-loading="loading" class="bg-success" style="padding: 30px;">
                       <br>
                       <br>
                      <p>Placeholder for data</p>
                       <br>
                       <br>
                       <br>
                   </div>
                </div>
            </div>
        </section>
        <script>
            app.controller("NbUiLoading", ["$scope", "$timeout", function ($scope, $timeout) {
                $scope.loading = false;
                $scope.submit = function() {
                    $scope.loading = true;
                }
            }]);
        </script>

        <section>
            <h4>
                @nb-fill-height
            </h4>
            <div class="panel panel-default panel-example">
                <div class="panel-body">
                    <div style="margin-bottom: 30px;">
                        <div class="parent" style="height: 100px;background-color:#ff0000;color:white;">
                            Container Panel

                            <div bn-fill-height
                                 style="top:0; background-color:rgba(0, 255,0, .6); text-align: center; color:white;">
                                bn-fill-height
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section ng-controller="NbUiSwitch">
            <h4>&lt;nb-ui-switch /&gt;</h4>

            <div class="panel panel-default panel-example">
                <div class="panel-heading">
                    <div class="panel-title">
                        nb-ui-switch @nb-model, @nb-on-change=fn(data)
                    </div>
                </div>
                <div class="panel-body">
                    Default Theme:
                    <nb-ui-switch nb-model="val" nb-on-change="onchange(data)"></nb-ui-switch>
                    Circle Theme:
                    <nb-ui-switch class="circle" nb-model="val" nb-on-change="onchange(data)"></nb-ui-switch>
                    <div class="result">
                        <i class="glyphicon glyphicon-hand-right"></i>
                        <span ng-bind="val"></span>
                    </div>
                </div>
            </div>
        </section>
        <script>
            app.controller("NbUiSwitch", function($scope) {
                $scope.val = true;
                $scope.onchange = function (value) {
                    console.debug(arguments);
                }
            });
        </script>

        <section ng-controller="NbUiSearch">
            <h4>
                &lt;nb-ui-search /&gt;
            </h4>
            <div class="panel panel-default panel-example">
                <div class="panel-heading">
                    <div class="panel-title">
                        nb-ui-search @nb-model, @nb-placeholder, @nb-on-change=fn(data)
                    </div>
                </div>
                <div class="panel-body">
                    <nb-ui-search nb-model="keywords" nb-placeholder="Search..." nb-on-change="searchChange(data)"></nb-ui-search>
                </div>
            </div>
            <script>
                app.controller("NbUiSearch", ["$scope", function ($scope) {
                    $scope.searchChange = function(k) {
                        console.debug(k);
                    };
                }]);
            </script>
        </section>

        <section>
            <h4>&lt;nb-ui-colorpicker /&gt;</h4>
            <div class="panel panel-default panel-example" ng-controller="NbUiColorpicker">
                <div class="panel-heading">
                    <div class="panel-title">
                        nb-ui-colorpicker @nb-colors=[{key, value, css, description},...]  @nb-model  @nb-on-change=fn(data)
                    </div>
                </div>
                <div class="panel-body">
                    <nb-ui-colorpicker nb-colors="colors" nb-model="model1" nb-on-change="changeColor1(data)"></nb-ui-colorpicker>
                    <div class="result">
                        <i class="glyphicon glyphicon-hand-right"></i>
                        <span ng-bind="selectedColor1"></span>
                    </div>
                    <hr />
                    <nb-ui-colorpicker  nb-colors="colorsWithoutDescription" nb-model="model2" nb-on-change="changeColor2(data)"></nb-ui-colorpicker>
                    <div class="result">
                        <i class="glyphicon glyphicon-hand-right"></i>
                        <span ng-bind="selectedColor2"></span>
                    </div>
                </div>
            </div>
            <script>
                app.controller("NbUiColorpicker", ["$scope", function ($scope) {
                    $scope.colors = [
                        {
                            key: 0,
                            value: "red",
                            description: "Red"
                        },
                        {
                            key: 1,
                            value: "green",
                            description: "Green"
                        },
                        {
                            key: 2,
                            value: "orange",
                            description: "Orange"
                        },
                        {
                            key: 3,
                            value: "Skyblue",
                            description: "Sky Blue"
                        }
                    ];
                    $scope.colorsWithoutDescription = [];
                    for(var a = 0; a < 255; a = a + 100){
                        for(var b = 0; b < 255; b = b + 100) {
                            for(var c = 0; c< 255; c = c + 100){
                                $scope.colorsWithoutDescription.push({
                                    key: a.toString() + "-" +b.toString()+ "-" +c.toString(),
                                    value: "rgb(" + a.toString() + "," + b.toString() + "," + c.toString()+")"
                                });
                            }
                        }
                    }
                    $scope.changeColor1 = function (data) {
                        $scope.model1 = data.key;
                        $scope.selectedColor1 = data;
                    }
                    $scope.changeColor2 = function (data) {
                        $scope.model2 = data.key;
                        $scope.selectedColor2 = data;
                    }
                }]);
            </script>
        </section>

        <section>
            <h4>&lt;nb-ui-input /&gt;</h4>
            <div class="panel panel-default panel-example" ng-controller="NbUiInputCtrl">
                <div class="panel-heading">
                    <div class="panel-title">
                        @type=[date, datetime, text, url, email, number]
                    </div>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <nb-ui-input nb-label="Date" class="col-xs-4" nb-model="model.dt" nb-type="date"
                                         nb-format="MM/DD/YYYY"></nb-ui-input>
                            <nb-ui-input nb-label="Date Time" class="col-xs-4" nb-model="model.dt" nb-type="datetime"
                            nb-format="YYYY-MM-DD h:mm a"></nb-ui-input>
                            <nb-ui-input nb-label="Text" class="col-xs-4" nb-model="model.dt" nb-type="text"></nb-ui-input>
                        </div>
                        <div class="row">
                            <nb-ui-input nb-label="Url" class="col-xs-4" nb-model="model.url" nb-type="url"></nb-ui-input>
                            <nb-ui-input nb-label="Email" class="col-xs-4" nb-model="model.email"
                            nb-type="email"></nb-ui-input>
                            <nb-ui-input nb-label="Number" class="col-xs-4" nb-model="model.number"
                            nb-type="number"></nb-ui-input>
                        </div>
                    </form>

                </div>
            </div>
            <script type="text/javascript">
                app.controller("NbUiInputCtrl", ["$scope", function ($scope) {
                    $scope.model = {};
                }]);
            </script>
        </section>

        <section>
            <h4>
                &lt;nb-ui-select /&gt;
            </h4>
            <div class="panel panel-default panel-example" ng-controller="NbUiSelectCtrl">
                <div class="panel-heading">
                    <div class="panel-title">
                        @nb-source=[], @nb-label, @nb-model
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <nb-ui-select class="col-xs-3" nb-label="Multiple Selection" nb-model="mModel"
                                      nb-placeholder="----- Please select -----"
                                      nb-text-field="label"
                                      nb-value-field="value"
                                      nb-multiple="true"
                                      nb-on-change="change(data)"
                                      nb-source="dataSource"></nb-ui-select>
                    </div>
                    <div class="result">
                        <i class="glyphicon glyphicon-hand-right"></i>
                        <span ng-bind="mModel"></span>
                    </div>
                    <div class="row">
                        <nb-ui-select class="col-xs-4" nb-label="Single Selection" nb-model="sModel"
                                        nb-placeholder="----- Please select -----"
                                        nb-text-field="label"
                                        nb-value-field="value"
                                        nb-multiple="false"
                                        nb-on-change="change(data)"
                                        nb-source="dataSource1"></nb-ui-select>
                    </div>
                    <div class="result">
                        <i class="glyphicon glyphicon-hand-right"></i>
                        <span ng-bind="sModel"></span>
                    </div>
                </div>
            </div>
            <script>
                app.controller("NbUiSelectCtrl", ["$scope", function ($scope) {
                    $scope.dataSource = [{
                        label: 'opt 1', value: 1
                    }, {
                        label: 'opt 2', value: 2
                    }];
                    $scope.dataSource1 = angular.copy($scope.dataSource);
                    $scope.mModel = [2];
                    $scope.sModel = 1;
                    $scope.change = function(data) {
                        console.debug(data);
                    }
                }]);
            </script>
        </section>

        <section>
            <h4>
                &lt;nb-ui-checks /&gt;
            </h4>
            <div class="panel panel-default panel-example" ng-controller="NbUiChecksCtrl">
                <div class="panel-heading">
                    <div class="panel-title">
                        @nb-source=[], @nb-key-field="", @nb-multiple=true/false, @nb-with-icon=true/false, @nb-model=object/[], @nb-show-button=true/false, @nb-on-change=fn(data)
                    </div>
                </div>
                <div class="panel-body">
                    <div class="">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="showButton"> Show button group
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="showIcon"> Show icon
                        </label>
                        <br /><br />
                        <nb-ui-checks nb-label="CheckBox" nb-source="source" nb-model="mModel" nb-multiple="true"
                                      nb-text-field="label"
                                      nb-value-field="value"
                                      nb-on-change="change(data)"
                                      nb-with-icon="showIcon" nb-show-button="showButton"></nb-ui-checks>
                        <div class="result">
                            <i class="glyphicon glyphicon-hand-right"></i>
                            <span> {{mModel}} </span>
                        </div>

                        <nb-ui-checks nb-label="Radio" nb-source="source" nb-model="sModel" nb-multiple="false"
                                      nb-text-field="label"
                                      nb-value-field="value"
                                      nb-on-change="change(data)"
                                      nb-with-icon="showIcon" nb-show-button="showButton"></nb-ui-checks>
                    </div>
                    <div class="result">
                        <i class="glyphicon glyphicon-hand-right"></i>
                        <span> {{sModel}} </span>
                    </div>
                </div>
            </div>
            <script>
                app.controller("NbUiChecksCtrl", ["$scope", function ($scope) {
                    $scope.source = [
                        {label: "Option 1", value: "1"},
                        {label: "Option 2", value: "2"},
                        {label: "Option 3", value: "3"},
                        {label: "Option 4", value: "4"},
                        {label: "Option 5", value: "5"},
                    ];
                    $scope.change = function(data) {
                        console.debug(data);
                    };
                    $scope.mModel = ["2"];
                    $scope.sModel = "2";
                }]);
            </script>
        </section>

        <section>
            <h4>
                &lt;nb-ui-pager /&gt;
            </h4>
            <div class="panel panel-default panel-example" ng-controller="NbUiPagerCtrl">
                <div class="panel-heading">
                    <div class="panel-title">
                        @nb-model= { currentPage: 1, pageSize: 10, recordCount: 108 }, @nb-on-page=fn(page)
                    </div>
                </div>
                <div class="panel-body">
                    <div class="">
                        <nb-ui-pager nb-model="model" nb-on-page="getData(page)"></nb-ui-pager>
                    </div>
                </div>
            </div>
            <script>
                app.controller("NbUiPagerCtrl", ["$scope", function ($scope) {
                    $scope.model = {currentPage: 1, pageSize: 10, recordCount: 108};
                    $scope.getData = function (page) {
                        console.debug("TODO: Get data for Page#" + page);
                    };
                }]);
            </script>
        </section>

    </section>

    <section>
        <h3>Filters</h3>
        <section>
            <h4>Date & Time</h4>
            <table class="table">
                <tr>
                    <th class="col-xs-6">Code</th>
                    <th>Result</th>
                </tr>
                <tr>
                    <td> moment() | appDate </td>
                    <td> <span ng-bind="moment() | appDate"></span> </td>
                </tr>
                <tr>
                    <td> moment() | appDateTime </td>
                    <td> <span ng-bind="moment() | appDateTime"></span> </td>
                </tr>
            </table>
        </section>
    </section>
</div>

<div class="col-md-4 navs"></div>

<script src="https://bndynet.github.io/demo-framework/init.js"></script>
</body>
</html>