<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link href="../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../lib/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet"/>
    <link href="http://bndy.net/bootstrap-more/dist/bootstrap-more.css" rel="stylesheet"/>

    <link href="../dist/angular-more.min.css" rel="stylesheet"/>

    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="https://use.fontawesome.com/f6093069cf.js"></script>

    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="http://bndy.net/bootstrap-more/dist/bootstrap-more.js"></script>
    <script src="../lib/moment/min/moment-with-locales.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular-sanitize/angular-sanitize.js"></script>

    <script src="../lib/angular-date-time-input/src/dateTimeInput.js"></script>
    <script src="../lib/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="../lib/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>

    <script src="../dist/angular-more.min.js"></script>
    <script>
        var app = angular.module("app", ["bn.ui"]);
    </script>
    <style>
        .result {
            border-radius: 4px;
            padding: 5px 10px;
            background-color: green;
            color: white;
        }
        .result span {
            display: inline-block;
            margin-left: 10px;
        }
    </style>
</head>
<body class="page-article">

<div class="col-md-8 sections">
    <code>
        angular.module("app", ["bn.ui"])
    </code>

    <section>
        <h3>Directives</h3>

        <section>
            <h4>
                @bn-fill-height
            </h4>
            <div class="panel panel-default panel-example">
                <div class="panel-body">
                    <div style="margin-bottom: 30px;">
                        <div class="parent" style="height: 100px;background-color:#ff0000;color:white;">
                            Container Panel

                            <div bn-fill-height
                                 style="top:0; background-color:rgba(0, 255,0, .6); text-align: center; color:white;">
                                bn-fill-height
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section ng-controller="BnUiSwitch">
            <h4>&lt;bn-ui-switch /&gt;</h4>

            <div class="panel panel-default panel-example">
                <div class="panel-heading">
                    <div class="panel-title">
                        bn-ui-switch @ng-model @on-change=fn(value)
                    </div>
                </div>
                <div class="panel-body">
                    Default Theme:
                    <bn-ui-switch ng-model="val" on-change="onchange(value)"></bn-ui-switch>
                    Circle Theme:
                    <bn-ui-switch class="circle" ng-model="val" on-change="onchange(value)"></bn-ui-switch>
                    <div class="result">
                        <i class="glyphicon glyphicon-hand-right"></i>
                        <span ng-bind="val"></span>
                    </div>
                </div>
            </div>
        </section>
        <script>
            app.controller("BnUiSwitch", function($scope) {
                $scope.val = true;
                $scope.onchange = function (value) {
                    console.debug(arguments);
                }
            });
        </script>

        <section ng-controller="BnUiSearch">
            <h4>
                &lt;bn-ui-search /&gt;
            </h4>
            <div class="panel panel-default panel-example">
                <div class="panel-heading">
                    <div class="panel-title">
                        bn-ui-search @ng-model @placeholder
                    </div>
                </div>
                <div class="panel-body">
                    <bn-ui-search ng-model="keywords" placeholder="Search..."></bn-ui-search>
                </div>
            </div>
            <script>
                app.controller("BnUiSearch", ["$scope", function ($scope) {

                }]);
            </script>
        </section>

        <section>
            <h4>&lt;bn-ui-colorpicker /&gt;</h4>
            <div class="panel panel-default panel-example" ng-controller="BnUiColorpicker">
                <div class="panel-heading">
                    <div class="panel-title">
                        bn-ui-colorpicker @ng-colors=[{key, value, css, description},...]  @ng-model  @on-change=fn(color)
                    </div>
                </div>
                <div class="panel-body">
                    <bn-ui-colorpicker ng-colors="colors" ng-model="model1" on-change="changeColor1(color)"></bn-ui-colorpicker>
                    <div class="result">
                        <i class="glyphicon glyphicon-hand-right"></i>
                        <span ng-bind="selectedColor1"></span>
                    </div>
                    <hr />
                    <bn-ui-colorpicker  ng-colors="colorsWithoutDescription" ng-model="model2" on-change="changeColor2(color)"></bn-ui-colorpicker>
                    <div class="result">
                        <i class="glyphicon glyphicon-hand-right"></i>
                        <span ng-bind="selectedColor2"></span>
                    </div>
                </div>
            </div>
            <script>
                app.controller("BnUiColorpicker", ["$scope", function ($scope) {
                    $scope.colors = [
                        {
                            key: 0,
                            value: "red",
                            description: "Red"
                        },
                        {
                            key: 1,
                            value: "green",
                            description: "Green"
                        },
                        {
                            key: 2,
                            value: "orange",
                            description: "Orange"
                        },
                        {
                            key: 3,
                            value: "Skyblue",
                            description: "Sky Blue"
                        }
                    ];
                    $scope.colorsWithoutDescription = [];
                    for(var a = 0; a < 255; a = a + 100){
                        for(var b = 0; b < 255; b = b + 100) {
                            for(var c = 0; c< 255; c = c + 100){
                                $scope.colorsWithoutDescription.push({
                                    key: a.toString() + "-" +b.toString()+ "-" +c.toString(),
                                    value: "rgb(" + a.toString() + "," + b.toString() + "," + c.toString()+")"
                                });
                            }
                        }
                    }
                    $scope.changeColor1 = function (color) {
                        $scope.model1 = color.key;
                        $scope.selectedColor1 = color;
                    }
                    $scope.changeColor2 = function (color) {
                        $scope.model2 = color.key;
                        $scope.selectedColor2 = color;
                    }
                }]);
            </script>
        </section>

        <section>
            <h4>&lt;bn-ui-input /&gt;</h4>
            <div class="panel panel-default panel-example" ng-controller="BnUiInputCtrl">
                <div class="panel-heading">
                    <div class="panel-title">
                        @type=[date, datetime, text, url, email, number]
                    </div>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <bn-ui-input label="Date" class="col-xs-4" ng-model="model.dt" type="date"
                                         format="MM/DD/YYYY"></bn-ui-input>
                            <bn-ui-input label="Date Time" class="col-xs-4" ng-model="model.dt" type="datetime"
                                         format="YYYY-MM-DD h:mm a"></bn-ui-input>
                            <bn-ui-input label="Text" class="col-xs-4" ng-model="model.dt" type="text"></bn-ui-input>
                        </div>
                        <div class="row">
                            <bn-ui-input label="Url" class="col-xs-4" ng-model="model.url" type="url"></bn-ui-input>
                            <bn-ui-input label="Email" class="col-xs-4" ng-model="model.email"
                                         type="email"></bn-ui-input>
                            <bn-ui-input label="Number" class="col-xs-4" ng-model="model.number"
                                         type="number"></bn-ui-input>
                        </div>
                    </form>

                </div>
            </div>
            <script type="text/javascript">
                app.controller("BnUiInputCtrl", ["$scope", function ($scope) {
                    $scope.model = {};
                }]);
            </script>
        </section>

        <section>
            <h4>
                &lt;bn-ui-select /&gt;
            </h4>
            <div class="panel panel-default panel-example" ng-controller="BnUiSelectCtrl">
                <div class="panel-heading">
                    <div class="panel-title">
                        @source={key: value}
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <bn-ui-select class="col-xs-3" label="Dropdown" ng-model="model.selected"
                                      source="dataSource"></bn-ui-select>
                    </div>
                    <div class="result">
                        <i class="glyphicon glyphicon-hand-right"></i>
                        <span ng-bind="model.selected"></span>
                    </div>
                </div>
            </div>
            <script>
                app.controller("BnUiSelectCtrl", ["$scope", function ($scope) {
                    $scope.dataSource = {
                        "Option 1": 1,
                        "Option 2": 2
                    };
                    $scope.model = {selected: "2"};
                }]);
            </script>
        </section>

        <section>
            <h4>
                &lt;bn-ui-checks /&gt;
            </h4>
            <div class="panel panel-default panel-example" ng-controller="BnUiChecksCtrl">
                <div class="panel-heading">
                    <div class="panel-title">
                        @source={key: value}, @multiple=true/false, @with-icon=true/false, @ng-model=object/[], @show-button=true/false
                    </div>
                </div>
                <div class="panel-body">
                    <div class="">
                        <bn-ui-checks label="CheckBox: show-button=true" source="source" ng-model="model" multiple="true"
                                      with-icon="true" show-button="true"></bn-ui-checks>
                        <bn-ui-checks label="CheckBox: show-button=false" source="source" ng-model="model" multiple="true"
                                      with-icon="true" show-button="false"></bn-ui-checks>
                        <bn-ui-checks label="Radio: show-button=true" source="source" ng-model="rmodel" multiple="false"
                                      with-icon="true" show-button="true"></bn-ui-checks>
                        <bn-ui-checks label="Radio: show-button=false" source="source" ng-model="rmodel" multiple="false"
                                      with-icon="true" show-button="false"></bn-ui-checks>
                    </div>
                    <div class="result">
                        <i class="glyphicon glyphicon-hand-right"></i>
                        <span> {{model}} </span>
                    </div>
                </div>
            </div>
            <script>
                app.controller("BnUiChecksCtrl", ["$scope", function ($scope) {
                    $scope.source = {
                        "Option 1": "1",
                        "Option 2": "2",
                        "Option 3": "3",
                        "Option 4": "4",
                        "Option 5": "5",
                    };
                    $scope.model = ["2"];
                }]);
            </script>
        </section>

        <section>
            <h4>
                &lt;bn-ui-pager /&gt;
            </h4>
            <div class="panel panel-default panel-example" ng-controller="BnUiPagerCtrl">
                <div class="panel-heading">
                    <div class="panel-title">
                        @ng-model= { currentPage: 1, pageSize: 10, recordCount: 108 }, @on-page=fn(page)
                    </div>
                </div>
                <div class="panel-body">
                    <div class="">
                        <bn-ui-pager ng-model="model" on-page="getData(page)"></bn-ui-pager>
                    </div>
                </div>
            </div>
            <script>
                app.controller("BnUiPagerCtrl", ["$scope", function ($scope) {
                    $scope.model = {currentPage: 1, pageSize: 10, recordCount: 108};
                    $scope.getData = function (page) {
                        console.debug("TODO: Get data for Page#" + page);
                    };
                }]);
            </script>
        </section>

    </section>

    <section>
        <h3>Filters</h3>
        <section>
            <h4>Date & Time</h4>
            <table class="table">
                <tr>
                    <th class="col-xs-6">Code</th>
                    <th>Result</th>
                </tr>
                <tr>
                    <td> moment() | appDate </td>
                    <td> <span ng-bind="moment() | appDate"></span> </td>
                </tr>
                <tr>
                    <td> moment() | appDateTime </td>
                    <td> <span ng-bind="moment() | appDateTime"></span> </td>
                </tr>
            </table>
        </section>
    </section>
</div>

<div class="col-md-4 navs"></div>

<script src="http://bndy.net/demo-framework/init.js"></script>
</body>
</html>